[user]
    name = Gilles Devaux
    email = gilles@spotify.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    status = auto
[column]
    ui = auto
[log]
    decorate = true
[core]
    excludesfile = /home/gilles/.gitignore
    whitespace = fix,space-before-tab,tab-in-indent,trailing-space
    autocrlf = input
    editor = vim
[branch]
    autosetupmerge = true
    autosetuprebase = local
[push]
    default = upstream
    followTags = true
	autoSetupRemote = true
[apply]
    whitespace = fix
[help]
    autocorrect = 1
[url "ssh://git@ghe.spotify.net/"]
	insteadOf = https://ghe.spotify.net/
[hub]
    host = ghe.spotify.net
